
// primary
$primary-10: #0095fa; //Example


// secondary
$secondary-30: #0f2640;

//background
$background-60: #000a11;


//error
$error: #ed5151;


//success
$success: #0aba6e;


//warning
$warning-750: #3b2811;



//info
$info: #266bd2;


// global colors
$white: #ffffff;


//== Color system
$cool-gray: #999999;
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #FAFAF9 !default; //updated
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6b859e !default;
$gray-700: #70757a !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;