@import '@/styles/helpers';

// Style Checkbox


.checkbox .container {
    font-family: $font-body;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    // padding-top: 5px;
    cursor: pointer;
    // font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
.checkbox  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  
  /* Create a custom checkbox */
.checkbox  .checkmark {
    position: absolute;
//    top: 5px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border: 1px solid #000000;

  }
  
  /* On mouse-over, add a grey background color */
.checkbox  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a color-primary background */
.checkbox  .container input:checked ~ .checkmark {
    background-color: var(--background); //$color-primary;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkbox  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
.checkbox  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
// .checkbox  .container .checkmark:after {
//     // left: 9px;
//     // top: 5px;
//     // width: 5px;
//     // height: 10px;

//     left: 4px;
//     top: 2px;
//     width: 3px;
//     height: 6px;

//     border: solid white;
//     border-width: 0 3px 3px 0;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }




    /* Style the checkmark/indicator */
.checkbox  .container .checkmark:after {
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  -ms-transform: rotate(45deg) translate(-50%, -50%);
  // transform: rotate(45deg);

  top: 50%;
  left: 25%;
  transform:  rotate(45deg) translate(-50%, -50%);
  width: 30%; /* Adjust the width of the checkmark */
  height: 60%; /* Adjust the height of the checkmark */
}
