@import '@/styles/helpers';

.copy-url-button {
    background-color: $color-primary;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    width: fit-content;
    font-weight: 500;
    max-height: 40px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: background-color 0.3s ease;

    &:focus {
      outline: none;
      // box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5);
    }

    &.loading {
      cursor: not-allowed;

      &::after {
        content: '';
        display: block;
        width: 16px; // Spinner size
        height: 16px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        border-top: 2px solid white;
        animation: spin 1s linear infinite;
      }

      span, & > *:not(&::after) {
        visibility: hidden;
      }
    }
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {  
    .copy-url-button {
      font-size: 10px;
    }
  }