@import '@/styles/helpers';

// ./Button.module.scss
.button {
    border: 1px solid #a0522d;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background: none;
    border-radius: 5px;
    color: #a0522d;
    font-size: 12px;
    &.selected {
      background-color: #a0522d;
      color: #fff;
    }
  }
  