.banner {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    border: 1px solid #ccc;
    position: relative;
    border-left: 3px solid #ccc;

  }
  
  .content {
    margin: 0 0 0 20px;
    font-size: 14px;
    color: #333;
  }
  