.profileImageWrapper {
    position: relative;
    margin-right: 0px;
    width: fit-content;
    // padding-left: 3px;
    .onlineIndicator {
      position: absolute;
      bottom: 3px;
      right: -1px;
      width: 7px;
      height: 7px;
      background-color: #4caf50;
      border: 1px solid #fff;
      border-radius: 50%;
    }

    .offlineIndicator {
      position: absolute;
      bottom: 3px;
      right: -1px;
      width: 7px;
      height: 7px;
      background-color: #f44336;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
